.clearbtn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 1em;
    height: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.controls {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 1em;
    opacity: 0;
    animation: reverse_slowdown 1s;
    background: linear-gradient(rgba(0,0,0,0),rgba(255, 255, 255, 0.308));
    text-align: center;
}
.controls:hover {
    opacity: 1;
    animation: slowdown 1s;
}
.info {
    opacity: 0;
    user-select: none;
    padding: 1em;
    font-size: x-large;
    top: 0;
    z-index: 1;
    animation: reverse_slowdown 1s ease;
    background: linear-gradient(rgba(255, 255, 255, 0.432),rgba(0, 0, 0, 0));
}
.info:hover {
    opacity: 1;
    animation: slowdown 1s ease;
}
.logo {
    width: 1em;
    height: auto;
    filter: invert(100%);
}
.logo-container {
    text-align: center;
}
.slidecontainer {
    width: 100%;
    z-index: 1;
    padding: 0.3em;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slidereffect {
    position: fixed;
    background-color: #247456;
    height: 15px;
    width: 10px;
    z-index: -1;
    border-radius: 5px;
    margin-top: 0.35em;
    margin-left: 0.3em;
}
.slider::-webkit-slider-thumb {
    opacity: 1;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #247456;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    opacity: 1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #247456;
    cursor: pointer;
}
.title {
    overflow: hidden;
    text-align: center;
}
.videocontainer {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.videoplayer {
    position: relative;
    width: 100%;
    height: 100%;
}
.Wrapper {
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    position: fixed;
    background-color: black;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}
@keyframes slowdown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes reverse_slowdown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
